### Task 2 : HR DATA ANALYSIS

In [15]:
import pandas as pd

# Load HR Dataset
df = pd.read_csv("HR Data.csv")

# Step 1: Remove Unnecessary Columns (Adjust based on dataset)
unnecessary_columns = ['EmployeeNumber', 'Over18', 'StandardHours', 'EmployeeCount', 'StockOptionLevel']  # Added 'StockOptionLevel'
df.drop(columns=[col for col in unnecessary_columns if col in df.columns], inplace=True)

# Step 2: Rename Columns for Better Readability
rename_columns = {
    "Attrition": "Employee_Attrition",
    "BusinessTravel": "Business_Travel",
    "DailyRate": "Daily_Rate",
    "Department": "Department_Name",
    "EducationField": "Education_Field",
    "JobSatisfaction": "Job_Satisfaction",
    "WorkLifeBalance": "Work_Life_Balance"
}
df.rename(columns=rename_columns, inplace=True)

# Step 3: Remove Duplicate Rows
df.drop_duplicates(inplace=True)

# Step 4: Handle Missing Values (Drop or Fill)
df.fillna({'Work_Life_Balance': df['Work_Life_Balance'].median(), 'Job_Satisfaction': df['Job_Satisfaction'].median()}, inplace=True)
df.dropna(inplace=True)  # Drop rows with remaining NaN values

# Step 5: Sanitize Specific Columns (Example: Convert text to lowercase)
text_columns = ['Employee_Attrition', 'Business_Travel', 'Department_Name', 'Education_Field']
for col in text_columns:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.lower()

# Step 6: Check for Anomalies (Example: Negative Salary, Age below 18)
df = df[df['Age'] >= 18]  # Remove employees under 18
df = df[df['MonthlyIncome'] > 0]  # Ensure salary is positive

# Step 7: Feature Engineering - Add a new column categorizing Years with Company
df['YearsWithCompany_Category'] = pd.cut(df['YearsWithCurrManager'], bins=[0, 3, 7, 15, 40], labels=['0-3', '4-7', '8-15', '16+'])

# Save Cleaned Dataset
df.to_csv("HR Data.csv", index=False)

# Print summary of changes
print("Data Cleaning Completed! Cleaned file saved as 'HR Data.csv'.")
print("Dataset Overview:")
print(df.info())
print("\nFirst 5 Rows:")
print(df.head())

Data Cleaning Completed! Cleaned file saved as 'HR Data.csv'.
Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1470 non-null   int64
 1   Employee_Attrition         1470 non-null   object
 2   Business_Travel            1470 non-null   object
 3   Daily_Rate                 1470 non-null   int64
 4   Department_Name            1470 non-null   object
 5   DistanceFromHome           1470 non-null   int64
 6   Education                  1470 non-null   int64
 7   Education_Field            1470 non-null   object
 8   EnvironmentSatisfaction    1470 non-null   int64
 9   Gender                     1470 non-null   object
 10  HourlyRate                 1470 non-null   int64
 11  JobInvolvement             1470 non-null   int64
 12  JobLevel                   1470 non-null   int64
 13  JobRole                    1470 non-null   object
 14  Job_Satisfaction           1470 non-null   int64
 15  MaritalStatus              1470 non-null   object
 16  MonthlyIncome              1470 non-null   int64
 17  MonthlyRate                1470 non-null   int64
 18  NumCompaniesWorked         1470 non-null   int64
 19  OverTime                   1470 non-null   object
 20  PercentSalaryHike          1470 non-null   int64
 21  PerformanceRating          1470 non-null   int64
 22  RelationshipSatisfaction   1470 non-null   int64
 23  TotalWorkingYears          1470 non-null   int64
 24  TrainingTimesLastYear      1470 non-null   int64
 25  Work_Life_Balance          1470 non-null   int64
 26  YearsAtCompany             1470 non-null   int64
 27  YearsInCurrentRole         1470 non-null   int64
 28  YearsSinceLastPromotion    1470 non-null   int64
 29  YearsWithCurrManager       1470 non-null   int64
 30  YearsWithCompany_Category  1207 non-null   category
dtypes: category(1), int64(22), object(8)
memory usage: 346.3+ KB
None

First 5 Rows:
   Age Employee_Attrition    Business_Travel  Daily_Rate  \
0   41                yes      travel_rarely        1102
1   49                 no  travel_frequently         279
2   37                yes      travel_rarely        1373
3   33                 no  travel_frequently        1392
4   27                 no      travel_rarely         591

          Department_Name  DistanceFromHome  Education Education_Field  \
0                   sales                 1          2   life sciences
1  research & development                 8          1   life sciences
2  research & development                 2          2           other
3  research & development                 3          4   life sciences
4  research & development                 2          1         medical

   EnvironmentSatisfaction  Gender  ...  PerformanceRating  \
0                        2  Female  ...                  3
1                        3    Male  ...                  4
2                        4    Male  ...                  3
3                        4  Female  ...                  3
4                        1    Male  ...                  3

   RelationshipSatisfaction  TotalWorkingYears TrainingTimesLastYear  \
0                         1                  8                     0
1                         4                 10                     3
2                         2                  7                     3
3                         3                  8                     3
4                         4                  6                     3

   Work_Life_Balance YearsAtCompany  YearsInCurrentRole  \
0                  1              6                   4
1                  3             10                   7
2                  3              0                   0
3                  3              8                   7
4                  3              2                   2

   YearsSinceLastPromotion  YearsWithCurrManager YearsWithCompany_Category
0                        0                     5                       4-7
1                        1                     7                       4-7
2                        0                     0                       NaN
3                        3                     0                       NaN
4                        2                     2                       0-3

[5 rows x 31 columns]